---
title: Startpage
---


<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <title>Tyranja.github.com by tyranja</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>R U B Y M O N S T E R S</h1>
        <h2>Blog for monday ruby class</h2>

        <section id="downloads">
          <a href="https://github.com/tyranja" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
      <ul>  
        {% for post in site.posts %}
          <li>
            {{ post.date | date: "%d.%m.%Y"}}
            <a href="{{post.url}}">
              {{ post.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
      </section>
        {% include footer.html %}
    </div>
  </body>
</html>
